
<div>
  <div class="ball">кто прочел тот лох</div>
  <div class="ball">кто прочел тот лох</div>
  <div class="ball">кто прочел тот лох</div>
  <div class="ball">кто прочел тот лох</div>
  <div class="ball">кто прочел тот лох</div>
  <div class="ball">кто прочел тот лох</div>
  <div class="ball">кто прочел тот лох</div>
</div>




