
  <style>
   .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }
  </style>

  <a href="home/boll" class="btn" target="_blank">Переход по ссылке</a>
  <a href="https://www.youtube.com/channel/UCgVl0UGf1QDXZ5ydEy2qAKw" class="btn" target="_blank">Переход по ссылке</a>

